@font-face {
    font-family: 'AirbnbCerealMedium'; 
    src: url('AirbnbCerealMedium.ttf') format('truetype'); 
}


body{
    margin: 0%;
    padding: 0%;
}
header{
    height: 26.1em;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    max-width: 85.3em;
    margin: auto;
    height: 3.75em;
    padding: 0 7em 0 7em;
}
.top-bar p{
    cursor: pointer;
    font-size: 1.25em;
    align-self: center;
    color: #3E8180;
    font-family: 'AirbnbCerealMedium'; 
}
.top-bar img{
   align-self: center;
   width: 1rem;
   height: 0.9em;
}
.top-bar-1{
    display: flex;
}

.background{
    max-width: 100%;
   background: linear-gradient(#E3E3E3,#D7FDF4);
   height: 22.3em;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
   
}

.header-view{
   max-width: 85.3em;
   margin: auto;
   display: flex;
   position: relative;
}
.header-view img{
    position: absolute;
    top: 15%;
}
.header-view-text{
    max-width: 52%;
    margin-left: 23em;
    margin-top: 2em;
    text-align: center;
}
.header-view-text h1{
font-size: 2.6em;
font-family: 'AirbnbCerealMedium'; 
color: #3E8180;
}
.header-view-text p{
    max-width: 80%;
    margin: auto;
    font-size: 2.8em;
    font-weight: 500;
    font-family: 'AirbnbCerealMedium'; 
    font-size: 20px;
    color: rgb(95, 94, 94);
    }
.header-view-text button{
    margin-top: 1.5em;
    width: 13.5em;
    height: 4em;
    font-family: 'AirbnbCerealMedium'; 
    background-color: #e87f3f;
    color: white;
    cursor: pointer;
    border-radius: 0.4em;
    border: none;
    font-size: 0.9em;
        }

.main-heading{
    display: flex;
    max-width: 85.1em;
    margin: auto;
    justify-content: center;
}
.main-heading-1{
    display: none;
}
 .title-1{
   max-width: 35%;
   height: 79px;
   margin: 3em 0 0 28em;
 } 
 .title-1 p{
    font-size: 26px;
    font-family: 'AirbnbCerealMedium';
 }
 
.title-1-div{
    max-width: 22%;
    margin: auto;
    font-size: 1.5em;
    font-family: 'AirbnbCerealMedium'; 
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding:0 0.5em 0 0.5em;
    background-color: #ffffff;
    border-radius: 0.2em;
    box-shadow:  0px 0px 10px rgb(184, 182, 182);
    
}
.title-1-div p{
    font-size: 0.7em;
    color:#322C4E

}
.title-1-div img{
    /* margin-top: 0.7em; */
    height: 1.5em;
    width: 1.5em;
}

.main-part-2{
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 30px;
    margin: 70px 0 40px 0;
}
.main-part-2-1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 320px;
    height: 240px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow:  0px 0px 10px rgb(184, 182, 182);
    border-radius: 10px;
}
.box-img-1{
    width: 38px;
    height: 43px;
    margin-top: 45px;
    }
.box-img-2{
        width: 39px;
        height: 46px;
        margin-top: 45px;
        }
.box-img-3{
            width: 54px;
            height: 48px;
            margin-top: 45px;
            }
.box-img-4{
                width: 61px;
                height: 37px;
                margin-top: 45px;
                }
                
.box h4{
color: #3E8180;
font-size: 22px;
font-family: 'AirbnbCerealMedium'; 
margin: 35px 0 0 0;
}
.box p{
    color: #0E1532;
    font-size: 16px;
    font-family: 'AirbnbCerealMedium'; 
    margin-top: 10px;
    line-height: 24px;
    }


    .main-part-3{
        max-width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .mod-1{
        max-width: 450px;
        padding-top: 100px;
    }
    
    .mod-1-child h3{
        font-size: 26px;
        display: inline;
        font-family: 'AirbnbCerealMedium'; 
    }
    .mod-1-child p{
        font-size: 16px;
        font-family: 'AirbnbCerealMedium'; 
    }
    .btn{
        font-size: 16px;
        font-family: 'AirbnbCerealMedium'; 
        width: 205px;
        height: 55px;
        background-color: #e87f3f;
        color: #E3E3E3;
        border: none;
        cursor: pointer;
        border-radius: 0.4em;
    }

.mod-2{
   width: 455px;
   height: 467px;
}

.background-circle{
    max-width: 455px;
    height: 467px;
    background-color: #5ccaab;
    border-radius: 50%;
    position: relative;
}
.front-board{
    width: 329px;
    height: 466px;
  background-color: #D7FDF4;
    position: absolute;
    box-shadow:  0px 0px 10px rgb(184, 182, 182);
    left: 13.5%;
    border-radius: 8px;
}
.front-board .industry{
    width: 329px;
    height: 249px;
    display: block;
    position: relative;
    z-index: 0;
}
.front-board .top-text{
   margin-left: 20px;
}
.top-text h5{
     font-size: 16px;
     font-family: 'AirbnbCerealMedium'; 
}
.top-text h4{
    font-size: 18px;
    font-family: 'AirbnbCerealMedium'; 
}
.top-text span{
    font-size: 14px;
    font-family: 'AirbnbCerealMedium'; 
    color: #9B9B9B;
}

pre{
    font-size: 14px;
    color: #9B9B9B;
    font-family: 'AirbnbCerealMedium'; 
}

pre img{
    width: 28px;
    height: 28px;
}

.badge{
    width: 123px;
    height: 29px;
    background-color:#e87f3f ;
    border-radius: 4px;
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    padding-top: 13px;
    line-height: 1;
    font-family: 'AirbnbCerealMedium'; 
    color: #D7FDF4;
}
.second-line{
   display: flex;
}
.second-line span{
    margin-right: 30px;
 }



.main-part-4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
 .testimonial-1{
    border-radius: 10px;
    box-shadow:  0px 0px 10px rgb(184, 182, 182);
    width: 468px;
    height: 190px;
    padding: 20px;
 }
 .testimonial-1 p{
    font-size: 14px;
    color: #322C4E;
    line-height: 22px;
    font-family: 'AirbnbCerealMedium'; 
 }
 .testimonial-1 h3{
    font-size: 16px;
    font-family: 'AirbnbCerealMedium'; 
    color: #3E8180;
    
 }
 .testimonial-1 .line p{
    font-size: 12px;
    font-family: 'AirbnbCerealMedium'; 
    color: #322C4E;
    line-height: 0%;
 }


 .main-part-5{
    margin-top: 70px;
 }
 .heading-bottom{
    height: 79px;
    margin: 10px;
    max-width: 40%;
    justify-content: center;
    margin-left: 30%;
 }
 .heading-bottom p{
    font-family: 'AirbnbCerealMedium'; 
    text-align: center;
    font-size: 26px;

 }

 .bins-container{
    max-width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     margin-bottom: 20px;
 }
 .bin{
width: 270px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
gap:10px;
box-shadow:  0px 0px 10px rgb(184, 182, 182);
 }
 .bin p{
    font-size: 16px;
    font-family: 'AirbnbCerealMedium'; 
 }
 .bin img{
    width: 25px;
    height: 25px;
 }
.btn-bottom{
    margin-top: 30px;
    text-align: center;
}
.bin:hover{
    cursor: pointer;
}



.main-part-6{
    margin-top: 4em;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.faqs-main{
    max-width: 48%;
}

.faqs{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.faq-details{
    
    color:#322C4E;
    line-height: 18px;
    font-size: 16px;
    font-family: 'AirbnbCerealMedium'; 
}
.faqs-main h1{
    line-height: 5px;
    font-size: 26px;
    font-weight: 500;
    font-family: 'AirbnbCerealMedium'; 
    
}
.faqs-main p{
    line-height: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'AirbnbCerealMedium'; 
    
}
.faqs p{
    color:#322C4E;
    line-height: 18px;
    font-size: 16px;
    font-family: 'AirbnbCerealMedium'; 
}
.faqs img{
    margin-top: 12px;
    width: 24px;
    height: 24px;
}
.faqs img:hover{
    cursor: pointer;
}

.faq-house{
  margin: 80px 0 0 0px;
  position: relative;
  width: 420px;
  height: 420px;
}
.faq-house .img1{
    position: absolute;
   top: 10%;
   left: 5%;
   z-index: 1;
  }
  .faq-house .img2{
    position: absolute;
    top: 2%;
    z-index: 0;
    right: 35%;
    
  }
  .faq-house .img3{
    position: absolute;
    top: 12%;
    right: 10%;
  }


  footer{
    width: 100%;
    height: 234px;
    background-color: #322c4e;
  }
  .zero-class{
    display: flex;
    justify-content:center ;
 }
 .footer-1{
    text-align: center;
 }
 .footer-1 .p1{
    font-size: 20px;
     color: #E3E3E3;
     font-family: 'AirbnbCerealMedium'; 
     cursor: pointer;
 }
  .footer-1 .p2-p3{
     font-size: 16px;
     color: #FFFFFF;
     cursor: pointer;
     font-weight: 100;
     font-family: 'AirbnbCerealMedium'; 
  }
  
  
  .whole-footer{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 37em;
  }
  .footer-p-2{
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 30px;
  }
  .footer-p-2 p{
   color: #E3E3E3;
   font-family: 'AirbnbCerealMedium'; 
   font-size: 14px;
  }